<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bye bye world</title>
  </head>
  <body>
    <h1>Bye bye {{ nom }}</h1>
    <a href="/hello-world">Page Hello World</a>
  </body>
</html>
