<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bienvenue dans Symfony</title>
  </head>
  <body>
    <h1>Bonjour {{ nom }}</h1>
    <p>Et oui je connais ton prénom, malgré le fait que la variable s'appelle "nom"</p>
    <a href="/bye-bye-world">Page Bye bye World</a>
  </body>
</html>
